
.custom-carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.custom-carousel-control.prev {
  left: 20px;
}

.custom-carousel-control.next {
  right: 20px;
}

.custom-carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Caption styles */
.custom-caption {
  position: absolute !important;
  top: 60% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 10;
  width: 70%;
  text-align: center;
}

.carousel-item {
  position: relative;
}


.animate-caption {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease-out;
}

.carousel-item.active .animate-caption {
  opacity: 1;
  transform: translateY(0);
}

.carousel-item img {
  animation: zoomOut 1s ease-out;
}

@keyframes zoomOut {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@media (max-width: 1200px) {
  .custom-carousel-control {
    width: 40px;
    height: 40px;
  }

  .custom-caption {
    top: 50% !important;
    width: 80%;
  }
}

@media (max-width: 992px) {
  .custom-carousel-control {
    width: 35px;
    height: 35px;
  }

  .custom-caption {
    top: 45% !important;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .custom-carousel-control {
    width: 30px;
    height: 30px;
  }

  .custom-caption {
    top: 40% !important;
    width: 100%;
  }

  .carousel-item img {
    height: 60vh; 
  }
}

@media (max-width: 576px) {
  .custom-carousel-control {
    width: 25px;
    height: 25px;
  }

  .custom-caption {
    top: 35% !important;
    font-size: 14px; 
  }

  .carousel-item img {
    height: 50vh; 
  }
}
